html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/dark blue.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#Nav_bar {
    background-color: mediumpurple;
}

/*resume*/
.download-container {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: purple; /* Button color */
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 25px; /* Curvy corners */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .download-button:hover {
        background-color: #45a049; /* Hover color */
    }

    .download-button span {
        margin-left: 8px; /* Space between text and arrow */
    }


/*occ*/
.developer-titles {
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 25ch; /* Adjust based on the longest title */
}

/*//hover*/

.navbar-nav {
    gap: 20px; /* Add spacing between the nav items */
}

.nav-link-hover {
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-radius: 10px;
}

    .nav-link-hover:hover {
        transform: scale(1.2); /* Increases size on hover */
        background-color: mediumpurple /* Adds cover on hover */
    }





/*Languages icons*/
.icon-container:hover i {
    color: #000; /* Color change on hover */
    font-size: 70px;
}
