@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="animated-background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>

    <div class="stars">
        <i></i><i></i><i></i><i></i><i></i>
        <i></i><i></i><i></i><i></i><i></i>
    </div>

    <div class="shooters">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>



<div class="container my-5">
    <div class="card border-0 shadow-lg text-white"
         style="background: linear-gradient(135deg, rgba(0,255,255,0.05), rgba(255,255,255,0.03)); border-radius: 20px; overflow: hidden;">

        <div class="row g-0 align-items-center" style="min-height: 600px;">
            <!-- Text Section -->
            <div class="col-md-7 p-5">
                <h1 style="margin: 0;">I'm,</h1>
                <h1 class="display-4 fw-bold" style="color: aqua;">Thwala Dikeledi</h1>

                <div class="developer-titles mb-3">
                    <span id="animated-title" style="font-size: 1.25rem; color: #0ff;"></span>
                </div>

                <p style="font-size: 1rem; color: #ccc; line-height: 1.6;">
                    I’m an Aspiring Software Developer with a Cum Laude IT qualification and strong skills in C#, SQL, web
                    development, and data-driven applications. I’ve built a solid foundation in software development and continue to grow my skills in data analysis and product development.
                    I enjoy building real world solutions that combine clean design, intuitive functionality, and data driven decisions.
                    My goal is to create meaningful digital experiences that solve real problems and add value to users.
                </p>

            </div>

            <!-- Profile Image -->
            <div class="col-md-5 d-flex justify-content-center align-items-center p-4">
                <div class="glow-box p-3 rounded-circle" style="background: radial-gradient(circle, rgba(0,255,255,0.15), rgba(0,0,0,0.5));">
                    <img src="@Url.Content("~/Images/Profile.jpeg")"
                         alt="Profile Picture"
                         class="img-fluid rounded-circle shadow"
                         style="width: 100%; max-width: 350px; height: auto; object-fit: cover;" />
                </div>
            </div>
        </div>
    </div>
</div>




<div id="about-me" style="background-color:">
    <h1 style="background-color: rgba(255, 255, 255, 0.1);">About Me</h1>
   
    <br />

    <div>
        <h2>A Little About Me</h2>
        <div class="fancy-line-wrapper">
            <div class="fancy-line"></div>
            <div class="fancy-dot"></div>
        </div>
        <p style="font-size: 1.25rem;">
            Hi, I'm Dikeledi Thwala, an enthusiastic Information Technology student at Nelson Mandela University, majoring in Software Development. I have a deep passion for developing innovative software solutions, and I thrive on the challenges and excitement that come with technology, coding, and problem solving.
        </p>

        <p style="font-size: 1.25rem;">
            In my free time, I enjoy honing my backend development skills with ASP.NET MVC, diving deeper into the world of software engineering.
        </p>

        <p style="font-size: 1.25rem;">
            I’m proficient in ASP.NET Core MVC, C#, HTML, CSS, JavaScript, Python, jQuery, Pandas, Responsive Design, SQL, and MySQL.
        </p>

        <p style="font-size: 1.25rem;">
            If you're interested in my work, feel free to get in touch!
        </p>
    </div>
    <br />
    <div>
        <ul style="list-style-type: none; display: flex; padding: 0;">
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link text-white" href="https://www.linkedin.com/in/dikeledi-thwala-14637a247" target="_blank" style="font-size: 2rem;">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link text-white" href="https://x.com/dikeledi_thwala?t=EwvCGv0xHLs92YAX63ZGHg&s=08" target="_blank" style="font-size: 2rem;">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://www.facebook.com/share/r722mNtS9mYEn7hn/?mibextid=qi2Omg" target="_blank" style="font-size: 2rem;">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
    <div >
        <p style="font-size: 1.25rem;">
            <i class="fas fa-phone-alt" style="color: aqua; margin-right: 10px;"></i>
            +27 72 905 8765
        </p>
        <p style="font-size: 1.25rem;">
            <i class="fas fa-envelope" style="color: aqua; margin-right: 10px;"></i>
            thwaladikeledi15@gmail.com
        </p>
    </div>

    <br />
	<div class="download-container">
        <a href="/files/dikeledi cv.pdf" download class="download-button" style="background-color:aqua;color:darkblue">
            <span>&#x2193;</span>  Download My Resume
        </a>
    </div>
    <br />
    <br />
    <br />
    <br />

    <section id="skills" class="skills-section py-5" style="background-color: #0d1117;">
        <div class="container">
            <h2 class="text-center text-light mb-4">My Technical Skills</h2>
            <div class="row g-4 justify-content-center">
                
                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-csharp-plain colored"></i>
                        <h5>C#</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-dotnetcore-plain colored"></i>
                        <h5>ASP.NET Core</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-html5-plain colored"></i>
                        <h5>HTML</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-css3-plain colored"></i>
                        <h5>CSS</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-javascript-plain colored"></i>
                        <h5>JavaScript</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-jquery-plain colored"></i>
                        <h5>jQuery</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-bootstrap-plain colored"></i>
                        <h5>Bootstrap</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-python-plain colored"></i>
                        <h5>Python</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-mysql-plain colored"></i>
                        <h5>MySQL</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-git-plain colored"></i>
                        <h5>Git</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-github-original colored"></i>
                        <h5>GitHub</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-vscode-plain colored"></i>
                        <h5>VS Code</h5>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="skill-card text-center">
                        <i class="devicon-visualstudio-plain colored"></i>
                        <h5>Visual Studio</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <br />
    <br />
    <br />
    <br />
</div>
<hr />




<div id="Education" class="container my-5">
    <h1 class="section-title text-center mb-5" style="color: aqua;">Education</h1>

    <div class="timeline-wrapper">
        <i class="fas fa-graduation-cap timeline-icon"></i>
        <!-- High School -->
        <div class="timeline-item left">
            <div class="timeline-dot"></div>
            <div class="education-card">
                <span class="edu-date">JAN 2017 - DEC 2021</span>
                <h2>Mohaladitwe Secondary School</h2>
                <h4 class="subtitle">NSC (Bachelor's Pass)</h4>
                <p>South Africa, Free State, Phuthaditjhaba, 9866</p>
            </div>
        </div>

        <!-- Diploma -->
        <div class="timeline-item right">
            <div class="timeline-dot"></div>
            <div class="education-card">
                <span class="edu-date">FEB 2022 - DEC 2024</span>
                <h2>Nelson Mandela University</h2>
                <h4 class="subtitle">Diploma in IT<br />(Software Development)</h4>
                <h4 class="subtitle">CUM LAUDE</h4>
                <p>South Africa, Eastern Cape, Port Elizabeth, 6001</p>
                <p><strong>Award:</strong> Merit Bursary Award (2022),
                <p><strong>Award:</strong> Merit Bursary Award (2023)</p>
            </div>
        </div>

        <!-- Advanced Diploma -->
        <div class="timeline-item left">
            <div class="timeline-dot"></div>
            <div class="education-card">
                <span class="edu-date">FEB 2025 - NOV 2025</span>
                <h2>Nelson Mandela University</h2>
                <h4 class="subtitle">Advanced Diploma in IT<br />(Software Development)</h4>
                <p>South Africa, Eastern Cape, Port Elizabeth, 6001</p>
                <p><strong>Award:</strong> Postgraduate Diploma Bursary Award</p>
                <p><strong>Certificate:</strong> 1st Place (Faculty of EBEIT)</p>
            </div>
        </div>

    </div>
</div>


<br />
<br />
<br />
<br />
<hr />



<button id="backToTop" onclick="scrollToTop()">▲</button>

<script>

    window.onscroll = function() {
        let button = document.getElementById("backToTop");
        if (document.documentElement.scrollTop > 100) {
            button.style.display = "block";
        } else {
            button.style.display = "none";
        }
    };

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
</script>


