@{
    Layout = "_CertificateLayout";
}


<div id="projects" class="container my-5">
    <h1 class="text-center mb-5" style="color: aqua;">Projects</h1>

    <div class="fancy-line-wrapper">
        <div class="fancy-line"></div>
        <div class="fancy-dot"></div>
    </div>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="project-card h-100" style="padding: 20px; border-radius: 12px;">
                <img src="~/images/ai project image.png"
                     class="img-fluid rounded mb-3"
                     style="width: 100%; max-height: 180px; object-fit: cover; border-radius: 8px;"
                     alt="AI Project" />
                <h3 class="text-center" style="font-size: 20px;">AI Global Index Analysis</h3>
                <p style="font-size: 14px;">This project analyzes and benchmarks 62 countries based on their AI investment, innovation, and implementation.</p>
                <ul style="font-size: 14px;">
                    <li>Visualizes AI growth by region, income & regime.</li>
                    <li>Correlates talent, infrastructure, and research.</li>
                    <li>Forecasts global AI trends.</li>
                    <li>Identifies top AI leaders worldwide.</li>
                </ul>
                <div class="text-center">
                    <a href="https://github.com/DikelediThwala/AI-Global-Index-Analysis/blob/main/AI_index.ipynb" target="_blank" class="btn-demo">Host</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="project-card h-100" style="padding: 20px; border-radius: 12px;">
                <img src="~/images/blood distribution project.png"
                     class="img-fluid rounded mb-3"
                     style="width: 100%; max-height: 180px; object-fit: cover; border-radius: 8px;"
                     alt="Blood Donation" />
                <h3 class="text-center" style="font-size: 20px;">Global Blood Donation Analysis</h3>
                <p style="font-size: 14px;">This project analyzes global blood donation efforts to optimize distribution strategies worldwide.</p>
                <ul style="font-size: 14px;">
                    <li>Tracks blood type availability across regions.</li>
                    <li>Helps plan critical donation drives.</li>
                    <li>Supports emergency preparedness planning.</li>
                    <li>Improves global healthcare decisions.</li>
                </ul>
                <div class="text-center">
                    <a href="https://github.com/DikelediThwala/Global-Blood-Donation-Analysis/blob/main/Global%20Blood%20Group%20Distribution%20Worldwide/Blood_Distribution.ipynb" target="_blank" class="btn-demo">Host</a>
                </div>
            </div>
        </div>
    </div>
</div>
